# Python
venv/
__pycache__/
*.pyc
.env

# Data files
backend/app/data/
backend/data/*
!backend/data/models/
backend/data/models/*
!backend/data/models/indobert_knn_687.pkl
!backend/data/models/lexicon_nb_581.pkl

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db